services:
  lm-webui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.rocm
    image: ghcr.io/lm-webui/lm-webui:rocm-latest
    devices:
      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"
    environment:
      - HSA_OVERRIDE_GFX_VERSION=${HSA_OVERRIDE_GFX_VERSION:-}
      - FORCED_BACKEND=rocm
    security_opt:
      - seccomp:unconfined
    group_add:
      - video
      - render
